@font-face {
  font-family: 'MatrixFont';
  src: url('https://arweave.net/qMWNCxhvqJYy4qJ31UWj5gVYRZ4-kIgB1BgXtk0QDWU') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
